<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/viewdetails.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <div class="container">
        <form action = "/viewdetails" >  
          <label for="email">Email</label>
          <input type="text" id="fname" name="detail" placeholder="Your email..">
          <br>  
          <input type="submit" value="Details">
          <br>
          <br>
          <input   id = "transaction" type="submit" formaction="/transactionhistory2"  value="Transactions">
        </form>
      </div>
    <%if (record!==null){ %>
    <table class="table table-striped table-primary">
        <thead>
          <tr>            
            <th>Name</th>
            <th>Email</th>
            <th>Bank Balance</th>
            <th>Account No</th>
            <th>City</th>
            <th>Mobile No</th>
          </tr>
        </thead>
        <tbody>
          <%if (record.length >0){ %>
          <% record.forEach(function(row){ %>
          <tr>            
            <td><%= row.name %></td>
            <td><%= row.email %></td>
            <td><%= row.bankBalance %></td>
            <td><%= row.accountno %></td>
            <td><%= row.city %></td>
            <td><%= row.mobileno %></td>
          </tr>
          <% })}else{ %>
            <tr>
                <td colspan="6">No Record Found</td> 
              </tr>
            <% } %>
        </tbody>
      </table>
      <% } %>
</body>
</html>