<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet"
    href="	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot">

  <title>Document</title>
</head>

<body>
  <%- include('../partials/navbar'); %>
    <h1 class="glow"> Customers </h1>
    <table id=my_table class="table table-striped table-primary">
      <thead>
        <tr>
          <th>Sr. No</th>
          <th>Name</th>
          <th>Email</th>
          <th>Bank Balance</th>

        </tr>
      </thead>
      <tbody>
        <%if (records.length>0){ %>
          <% records.forEach(function(row){ %>
            <tr>
              <td>
                <%= row.id %>
              </td>
              <td>
                <%= row.name %>
              </td>
              <td>
                <%= row.email %>
              </td>
              <td>
                <%= row.bankBalance %>
              </td>

            </tr>
            <% })}else{ %>
              <tr>
                <td colspan="4">No Record Found</td>
              </tr>
              <% } %>
      </tbody>
    </table>

</body>

</html>